---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}
 -->
<!-- {% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->

Preprint
======

***

* ARQ: A Mixed-Precision Quantization Framework for Accurate and Certifiably Robust DNNs <br />
  **Yuchen Yang**, Shubham Ugare, Yifan Zhao, Gagandeep Singh, Sasa Misailovic <br />
<!--   [[Paper]](https://arxiv.org/abs/2410.02644) [[Code]](https://github.com/agiresearch/ASB)  -->
  

* NeuBridge: Bridging Quantized Activations and Spiking Neurons for ANN-SNN Conversion  <br />
  **Yuchen Yang**, Jingcheng Liu, Chengting Yu, Chengyi Yang, Gaoang Wang, Aili Wang <br />
<!--   [[Paper]](https://arxiv.org/abs/2404.07066) [[Website]](https://luckfort.github.io/explore_CD/)  -->


